<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<% let subject = "RE: " + OGMessage.message_subject %>
<% let body = "\n\n///////// ORIGINAL MESSAGE ///////// \n" + OGMessage.message_body%>

<form action="/message/send" method="post">
    <label for="message_to">To: </label>
    <select name="message_to" id="message_to">
      <option value="<%= recipient.account_id %>">
        <%=recipient.account_firstname + " " + recipient.account_lastname%>
      </option>
    </select><br>
    <label for="message_subject">Subject:</label>
    <input type="text" name="message_subject" id="message_subject" value="<%= subject %>" readonly><br>
    <label for="message_body">Message Text:</label>
    <textarea name="message_body" id="message_body" cols="30" rows="10" > <%= body %> </textarea>
    <input type="submit" value="Send Message" id="submit-button">
    <input type="hidden" name="message_from"
     <% if(sender) { %> 
      value="<%= sender %>"
    <% } %>>
</form>